<div class="container">
    <div class="row">
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
        <ry-offer-preview-card *ngFor="let offer of offers$ | async" [offerPreview]="offer" (purchaseOfferEvent)="purchaseOffer(offer)" (upvoteOfferEvent)="upvoteOffer(offer)" (downvoteOfferEvent)="downvoteOffer(offer)" class="col-3"></ry-offer-preview-card>
    </div>
</div>
