.offer-card
  border: 1px solid lightgray

  &__content
    display: flex
    flex-direction: column
    align-items: center
    cursor: pointer
  
    &:hover .offer-title
        text-decoration: underline

.offer-votes
  font-size: 0.75rem

.offer-price 
  font-weight: bold