<div *ngIf="offerDetails$ | async as offerDetails" class="container my-4">
    <div class="row">
        <div class="col-4">
            <img class="offer-cover" src="{{'assets/images/no-product-image.png'}}">
            <ry-vote [voteCount]="offerDetails.voteCount" (voteDownEvent)="voteDown(offerDetails)" (voteUpEvent)="voteUp(offerDetails)"></ry-vote>
        </div>
        <div class="col-4 d-flex flex-column">
            <h1>{{offerDetails.title}}</h1>
            <span>von {{offerDetails.merchantName}}</span>
            <span class="mt-3">{{offerDetails.description ?? 'Aktuell haben wir leider keine Beschreibung zu diesem Artikel.'}}</span>
        </div>
        <div class="col-4 d-flex flex-column align-items-end">
            <h1 class="offer-price my-2">{{offerDetails.price}} €</h1>
            <button (click)="purchaseOffer(offerDetails)">Kaufen</button>
        </div>
    </div>
</div>